---
layout: default
title: Members
---
{% assign doctorants = site.members | where_exp: 'member', 'member.position_id == "phd"' | sort: "name"%}
{% assign responsables = site.members | where_exp: 'member', 'member.position_id != "phd"' | sort: "name"%}
{% assign dsize = doctorants | size %}
{% if dsize != 0 %}
<div class="header"><h2> PhD. Students </h2></div>
<div>
  <ul>
    {% for doctorant in doctorants %}
      <li class="member">
        {{doctorant}}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% assign rsize = responsables | size %}
{% if rsize != 0 %}
{% assign affiliations = responsables | map: "affiliation" | uniq | sort %}
<div class="header"><h2> Principal Investigators </h2></div>
<div>
  {% for affiliated_to in affiliations %}
  {% assign entity = site.data.entities | where_exp: 'entity', 'entity.name==affiliated_to' | first %}
  <h2>From <a href="{{ entity.link }}">{{affiliated_to}}</h2>
  <ul>
    {% assign affiliated_responsables = responsables | where_exp: 'responsables', 'responsables.affiliation == affiliated_to' %}
    {% for responsable in affiliated_responsables %}
      <li class="member">
        {{responsable}}
      </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endif %}



