// body {
//   margin-right: 5%;
//   margin-left: 5%;
// }

.content{
  margin-right: 5%;
  margin-left: 5%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  border-radius: 10px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color :  #d9d9d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}

.current {
  background-color: #C02F1D;
}

#greyBloc {
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  width: 40%;
  min-width: 200px;
  height: 300px;
  overflow: hidden;
}

img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}