body {
  font :  18px/1.4 serif;
  font-family: Calibri, sans-serif;//cursive, sans-serif;
}

a {
  color: #222;
  font-style: bold;
}

table{
  table-layout: fixed ;
  width: 100%;
}

td{
  vertical-align: top;
}

.img-rounded {
  border-radius: 6px;
}

.pull-right {
  float: right !important;
}

.content{
  margin-right: 10%;
  margin-left: 10%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #222;
  border-radius: 10px;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color :  #d9d9d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: white;
}

.current {
  background-color: #C02F1D;
}

#greyBloc {
  margin-left: auto;
  margin-right: auto;
  //background-color: #FFFFFF; // cccccc
  width: 60%;
  min-width: 200px;
  height: 200px;
  max-height: 300px;
  overflow: hidden;
}



.NewsImage {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  min-width: 200px;
  // max-height: 400px;
  overflow: hidden;
}

.NewsImage img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#greyBloc img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}


.header{
  line-height: 50px; 
  border-radius: 10px;
  padding-left: 20px;
  width:100%;
  // background-color:#a6a6a6;
  background:linear-gradient(#a6a6a6, #cccccc);
  font-family: Calibri, sans-serif;//cursive, sans-serif;
}


.doctorant {
  float : left;
}

.dddd {
  float : left;
}


.member{
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
}

.news li{
  list-style-type: none;
}